<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.mapper.RoleMenuPermissionMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.dao.RoleMenuPermission">
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
    <result column="permission_id" jdbcType="VARCHAR" property="permissionId" />
  </resultMap>

  <sql id="condition">
    <if test="null != params.roleId and '' != params.roleId">
      and role_id =#{params.roleId,jdbcType=VARCHAR}
    </if>
    <if test="null != params.menuId and '' != params.menuId">
      and menu_id =#{params.menuId,jdbcType=VARCHAR}
    </if>
    <if test="null != params.permissionId and '' != params.permissionId">
      and permission_id =#{params.permissionId,jdbcType=VARCHAR}
    </if>
  </sql>
  <insert id="insert" parameterType="com.example.demo.dao.RoleMenuPermission">
    insert into role_menu_permission (role_id, menu_id, permission_id
      )
    values (#{roleId,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR}, #{permissionId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.dao.RoleMenuPermission">
    insert into role_menu_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="permissionId != null">
        permission_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="permissionId != null">
        #{permissionId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(1)
    from role_menu_permission
    where 1=1
    <include refid="condition"/>
  </select>
</mapper>